.video-grid-section {
  background: #000;
  padding: 60px 20px;
  color: #fff;
}

.video-grid-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  font-style: italic;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-card {
  position: relative;
  background: #d9d9d9;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  overflow: hidden;

  border-radius: 10px;
}

.video-card img,
.video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.play-button::before {
  content: "";
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.play-button::after {
  content: "";
  position: absolute;
  border-left: 18px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: 5px;
}

/* Tablet */
@media (max-width: 1024px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
  .video-grid-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    font-style: italic;
  }
}
